/* You can add global styles to this file, and also import other style files */
* {
  --color-primary: #4682b4;
  // --color-primary: #4682b4;
  --color-primary-contrast: #fff;
  // --color-accent: #4e755cb1;
  --color-accent: #c2185b;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}
